.Főkép {
    width: 100%;
    height: 400px;
    margin: 0%;
}

.szoveg {
    padding: 26px 80px;
    font-size:larger;
    background-color: aliceblue;
    margin: 2% 2.5%;
    border-radius: 25px;
    width: 500px;
}

.szoveg2{
    padding: 26px 70px;
    font-size:larger;
    background-color: aliceblue;
    margin: 2% 2.5%;
    border-radius: 25px;
    width: 800px;
}
.sz1{
    text-align: left;
}
.szoveg3{
    padding: 26px 70px;
    font-size:larger;
    background-color: aliceblue;
    margin: 2% 2.5%;
    border-radius: 25px;
    width: 680px;
}

#SzDiv{
    background-color:rgb(48,52,52);
}
.kep1{
    padding: 70px;
    padding-top: 70px;
    padding-bottom: 30px;
    width: 500px;
}
.kep2{
    width: 500px ;
}
.kep3{
    width: 550px;
    border-radius: 25px;
}
.kep4{
    float: right;
    width: 240px;
    padding: 0px 12px;
}
.kep5{
    width:600px;
    border-radius: 25px;
}

.card1{
    padding: 0px 0px;
    margin: 2% 2.5%;
    width: 300px;
}